# Ignore __pycache__
__pycache__/

# Ignore geckodriver logs
*.log

# Ignore downloaded csv files
*.csv
!placeholder.csv

# Ignore geckodriver.exe inside of module
src/fflogs-scraping/geckodriver.exe
src/fflogs-scraping/ublock_origin-1.43.0.xpi
