# Ignore __pycache__
__pycache__/

# Ignore geckodriver logs
*.log

# Ignore downloaded csv files
csv/

# Don't ignore the placeholder file
!csv/placeholder.csv

# Ignore geckodriver.exe inside of module
fflogs-study-project/geckodriver.exe
fflogs-study-project/ublock_origin-1.43.0.xpi
